/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2026, 3:33:22 PM
    Author     : admin
*/

/*







input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}





*/
        body {
        font-family: Arial, sans-serif;
        background: linear-gradient(to right, #4facfe, #00f2fe);
        }

        .container {
        width: 400px;
        margin: 80px auto;
        background: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    }
        button:hover {
        background-color: #00c6ff;
        }
        input, select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
        }

        label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }
        h2 {
        text-align: center;
        margin-bottom: 20px;
        }
        button {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color: #4facfe;
        color: white;
        border: none;
        cursor: pointer;
        }

        .error {
            color: red;
            font-size: 13px;
        }

        .invalid {
            border: 2px solid red;
        }
